<div class="navbar navbar-light bg-light fixed-top mb-5">
  <div class="navbar-brand">Business contacts</div>
</div>
<hr>

<div class="container">
  <div *ngIf="appState == 'default'">
    <div class="row my-5">
      <div class="col-sm-6">
        <button class="btn btn-primary" (click)="changeState('add')">Add business</button>
      </div>
      <div class="col-sm-6 form-inline">
        <label for="filter">Filter Category</label>
        <select class="form-control mx-2" name="filter" id="filter" (change)="filterCategory(filteredCategory.value)"
                #filteredCategory>
          <option value="0">Select</option>
          <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <hr>

  <div *ngIf="appState == 'add'">
    <div class="col-md-12">
      <h3>Add business</h3>
      <form (submit)="addBusiness(company.value,category.value,yearsInBusiness.value,description.value,phone.value,email.value,street.value,city.value,state.value,zip.value)">
        <div class="row ">
          <div class="col-sm-6 form-inline my-2">
            <label for="company" class="col-form-label mx-2">Company: </label>
            <input class="form-control" type="text" id="company" #company placeholder="Company name"/>
          </div>
          <div class="col-sm-6 form-inline my-2">
            <label class="col-form-label mx-2" for="category">Category: </label>
            <select id="category" #category class="form-control">
              <option value="0">Select</option>
              <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-inline my-2">
            <label for="yearsInBusiness" class="col-form-label mx-2">Years in busines: </label>
            <input class="form-control" type="number" id="yearsInBusiness" #yearsInBusiness
                   placeholder="Years in business"/>
          </div>
          <div class="col-sm-6 my-2 form-group">
            <label class="mx-2" for="description">Description </label>
            <textarea id="description" #description class="form-control" rows="5">
             </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-inline my-2">
            <label for="phone" class="col-form-label mx-2">Phone: </label>
            <input class="form-control" type="text" id="phone" #phone
                   placeholder="phone"/>
          </div>
          <div class="col-sm-6 my-2 form-inline">
            <label class="mx-2" for="email">Email: </label>
            <input type="email" id="email" #email class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-inline my-2">
            <label for="city" class="col-form-label mx-2">City: </label>
            <input class="form-control" type="text" id="city" #city
                   placeholder="City"/>
          </div>
          <div class="col-sm-6 my-2 form-inline">
            <label class="mx-2" for="street">Street: </label>
            <input type="text" id="street" #street class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-inline my-2">
            <label for="zip" class="col-form-label mx-2">Zipcode: </label>
            <input class="form-control" type="text" id="zip" #zip
                   placeholder="ZipCode"/>
          </div>
          <div class="col-sm-6 my-2 form-inline">
            <label class="mx-2" for="state">State: </label>
            <input type="text" id="state" #state class="form-control"/>
          </div>
        </div>
        <div class="row">
          <input type="submit" class="btn btn-outline-dark" value="Submit"/>
        </div>
      </form>
    </div>
  </div>


  <div *ngIf="appState == 'extend'" class="mt-5">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-danger" (click)="changeState('default')">Go back</button>
      </div>
    </div>


    <div *ngFor="let business of businesses">
      <div *ngIf="business.$key == activeKey">
        <div class="row">
          <div class="col-md-5 offset-md-1">
            <h3>{{business.company}}</h3>
            <p>Category: {{business.category}}</p>
            <p>Years In Business: {{business.years_in_business}}
            <p>{{business.Description}}</p>
          </div>
          <div class="col-md-5">
            <h3>Contact Info</h3>
            <ul>
              <li>Phone: {{business.phone}}</li>
              <li>Email: {{business.email}}</li>
              <li>Street: {{business.street_sddres}}</li>
              <li>City: {{business.city}}</li>
              <li>State: {{business.state}}</li>
              <li>Zipcode: {{business.zipcode}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-12">
      <div *ngIf="businesses">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Category</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let business of businesses">
            <td>{{business.company}}</td>
            <td>{{business.category}}</td>
            <td>{{business.phone}}</td>
            <td>
              <button (click)="changeState('extend', business.$key)" class="btn btn-outline-dark mx-1">More</button>
              <button class="btn btn-primary mx-1">Edit</button>
              <button class="btn btn-danger mx-1">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
